.searchBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .searchBlockRight {
    display: flex;
  }
}

.container {
  border: 1px solid;
  height: 90%;
  overflow: auto;
  .row {
    display: flex;
    width: 100%;
    .template {
      width: 100%;
      .line {
        padding: 2px 0; 
      }
    }
  }
}

.marginTop10 {
  margin-top: 10px;
}
.marginLeft10 {
  margin-left: 10px;
}
.marginLeft25 {
  margin-left: 25px;
}